In [1]:
# for loop is use when we want to execute code for all predefined iteration

In [8]:
# for loop
n=[16,25,36,49]
for i in n:
    print(i**2)

256
625
1296
2401

In [10]:
"""While loop is use when number of iteration in unknown 
and we want to excecute block of code for true condition"""

'While loop is use when number of iteration in unknown \nand we want to excecute block of code for true condition'

In [14]:
# while loop wxample
i=1
while i<10:
    print(i**2)
    i=i+1

1
4
9
16
25
36
49
64
81

In [21]:
# for loop example of sum of first 10 natural number
sum=0
for i in range(1,11,1):
    sum=sum+i
sum

55

In [22]:
# for loop example of product of first 10 natural number
product=1
for i in range(1,11,1):
    product=product*i
product

3628800

In [23]:
# while loop example of sum of first 10 natural number
a=1
sum=0
while a<=10:
    sum=sum+a
    a=a+1
sum

55

In [25]:
# while loop example of product of first 10 natural number
a=1
product=1
while a<=10:
    product=product*a
    a=a+1
product

3628800

In [23]:
# example of python program to compute the electricity bill for a household.
n=int(input("enter unit of electricity consumed in month"))
Electricity_charge=0
if n <=100:
    Electricity_charge=(n*4.5)
elif n<=200:
    Electricity_charge=(n-100)*6+(4.5*100)
elif n<=300:
    Electricity_charge=(n-200)*10+(100*6)+(4.5*100)
else :
    Electricity_charge=(n-300)*20+(100*10)+(6*100) +(4.5*100)
Electricity_charge

enter unit of electricity consumed in month 310

2250.0

In [ ]:
"""Q4 -Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list."""

In [32]:
# for loop example
l=[]
for i in range(1,100,1):
      if ((i*i*i)%4)==0 or((i*i*i)%5)==0:
            l.append(i)

In [33]:
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98]

In [5]:
#Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"
vowels=0
for i in string:
     if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print(vowels)

12

In [2]:
len(string)

33

In [4]:
# while loop example
i=1
while i<=100:
    if ((i**2)*i)%4==0 or ((i**2)*i)%5==0:
        print(i)
    i=i+1

2
4
5
6
8
10
12
14
15
16
18
20
22
24
25
26
28
30
32
34
35
36
38
40
42
44
45
46
48
50
52
54
55
56
58
60
62
64
65
66
68
70
72
74
75
76
78
80
82
84
85
86
88
90
92
94
95
96
98
100

In [ ]:
N